:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: clamp(16px, 1.2vw, 18px);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: #050505;
}

* {
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
}

img,
canvas,
picture {
  image-rendering: -webkit-optimize-contrast;
}

